.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: normal;
    gap: 100px;
}

.item-1 {
    flex-basis: 100px;
}

.item-2 {
    flex-basis: 100px;
}

.item-3 {
    flex-basis: 100px;
}