.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

.Snorlax {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.Diglett {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.Zubat {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}