.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 42px;
}

.item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.item-3 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}